@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Merriweather Sans", sans-serif;
}
header {
  font-size: 1.8rem;
  height: 6rem;
  display: flex;
  align-items: center;
  background: rgba(2, 2, 2, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.image {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  border-radius: 50%;
  background: url(Edit.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header .navbar ul {
  list-style: none;
  display: flex;
}
header .navbar ul li {
  margin: 0rem 1rem;
}
header .navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
header .navbar ul li a:hover {
  background-color: beige;
  color: black;
}
header .mobile-btn {
  display: none;
  margin-right: 2rem;
}

header .mobile-btn .close,
header .mobile-btn .menu {
  font-size: 3rem;
}
header .mobile-btn .close {
  display: none;
  font-size: 3rem;
}

 
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem;
  }
  main .para p{
    margin: 2rem 6rem;
    
  }
 
  main .btn #button{
    font-size: 1.8rem;
    width: 10rem;
    height: 3rem;
    margin: 2rem;
  }
 
  .Second_heading {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
  }


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.cards .card1 , .cards .card2 , .cards .card3 {
  border: 0.1rem solid red;
  background-color: #fff ;
  display: grid;
  grid-template-columns: 35rem;
  grid-template-rows: 20rem  5rem  12rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
  cursor: pointer;
  transition: all 0.3s ease;

}
.cards .card1 .card1_image {
  background: url(s1.jpg);
  background-size: 40rem 20rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.cards .card2 .card2_image {
  background: url(card2.jpg);
  background-size: 40rem 20rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.cards .card3 .card3_image {
  background: url(card3.jpg);
  background-size: 40rem 20rem;
 background-repeat: no-repeat;
 border-radius: 1rem;
}
.cards .card1 .card_heading h1 ,.cards .card2 .card_heading h1 , .cards .card3 .card_heading h1 {
    margin-top: 1rem;
   text-align: center;

}
.para_text{
    text-align: center;
    font-size: 1.4rem;
}
.cards .card1:hover , .cards .card2:hover , .cards .card3:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0 , 0.6);
}
 


.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1rem;
  }
  
  .image-row img {
    flex-basis: 20rem;
    margin: 0.5rem; 
    height: 10rem;
    width: 10rem;
   mix-blend-mode: color-burn;
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
  }

  .footer h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0rem;
  }
    
  .footer .title{
    font-size: 1.7rem;
    color: #fff;
  }
  .footer div input {
    width: 30rem;
    height: 3rem;
    border-radius: 0.3rem;
  }
  .footer form div textarea{
    width: 30rem;
  }
   .footer form div input , .footer form div textarea{
    margin: 1rem 0rem;
   }


@media(max-width:1356px){
    
    .cards{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

@media (max-width: 594px) {
    main .heading p {
        font-size: 1.2rem;
      }

  header .mobile-btn {
    display: block;
    z-index: 999;
    color: #212529;
  }
  header {
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  header .navbar {
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: aquamarine;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  header .navbar ul {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-btn .close {
    display: block;
  }
  .active .mobile-btn .menu {
    display: none;
  }

}
@media(max-width:506px){
    html{
        font-size: 49%;
    }
}